.RecentOrders {
  width: 100%;
}
.table {
  min-width: 827px;
}
.productTitle {
  max-width: 280px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productTitle > *:after {
  content: ",";
}
.productTitle :last-child:after {
  content: ".";
}
